::ng-deep{
  .p-dialog {
    .colored {
      color: transparent;
      background-image: linear-gradient(60deg, #37e4d9, #d20b74);
      background-clip: text;
    }

    li::marker{
      color: #d20b74;
    }

    .p-dialog-header {
      background-color: #314766;
    }

    .p-dialog-content {
      padding: 1rem;
    }
  }
}

.img-container {
  position: relative;
  height: 400px;
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
}

.img-container::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--img-url);
  background-size: contain;
  background-position: center center;
  opacity: 1;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.img-container:hover::after {
  opacity: 0.2;
  cursor: pointer;

}

.img-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateY(20px);
  z-index: 1;
  color: white;
  font-size: 24px;
  font-family: cursive;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  width: 70%;
}

.img-container:hover .img-text {
  opacity: 1;
  cursor: pointer;
  transform: translate(-50%, -50%) translateY(0);
}

.img-project-container {
  position: relative;
  height: 338px;
  width: 100%;
  border-radius: 4px;
}

.img-project {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.w-6 {
  width: 100% !important;
}

p {
  font-family: cursive;
  font-size: medium;
}

span {
  opacity: 0.8;
  font-size: medium;
}


@media (max-width: 350px) {
  .img-container {
    height: 80px;
    font-size: 6px;
  }

  .img-text {
    font-size: 6px;
  }

  .img-container:hover .img-text {
    font-size: 6px;
  }

  .img-text span {
    font-size: 4px;
  }

  ::ng-deep {
    .img-project {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    .p-fieldset {
      border: 0.3px solid #304562;
      .p-fieldset-legend {
        padding: 0.1rem;
        border: 0.3px solid #304562;
      }
      .p-fieldset-content {
        padding: 0.1rem;
      }
    }

    .p-dialog {
      border: 0.1rem solid #314766;
      border-radius: 2px;

      .p-dialog-content {
        padding: 0.4rem;

        .text-center {
          .img-project-container {
            height: 40px;
          }
        }
      }

      .p-dialog-header {
        padding: 0.1rem;
        border-top-right-radius: 0;
        border-top-left-radius: 0;

        .p-dialog-header-icon {
          width: 0.3rem;
          height: 0.3rem;
        }
      }

      p {
        font-size: 2px;
      }

      .p-icon {
        height: 0.2rem;
      }

      .p-carousel .p-carousel-content .p-carousel-prev, .p-carousel .p-carousel-content .p-carousel-next {
        width: 0.3rem;
        height: 0.3rem;
      }

      .p-carousel .p-carousel-indicators {
        padding: 0.1rem;
        li {
          margin-right: 0.2rem;
          margin-bottom: 0.3rem;
        }
        button {
          width: 0.4rem;
          height: 0.1rem;
        }
        .p-highlight button {
          background-color: #FFD54F;
        }
      }
    }
  }
}

@media (min-width: 350px) and (max-width: 500px) {
  .img-container {
    height: 130px;
    font-size: 8px;
  }

  .img-text {
    font-size: 10px;
  }

  .img-container:hover .img-text {
    font-size: 10px;
  }

  .img-text span {
    font-size: 8px;
  }

  ::ng-deep {
    .img-project {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    .p-fieldset {
      border: 0.5px solid #304562;
      .p-fieldset-legend {
        padding: 0.1rem;
        border: 0.5px solid #304562;
      }
      .p-fieldset-content {
        padding: 0.1rem;
      }
    }

    .p-dialog {
      border: 0.2rem solid #314766;
      border-radius: 2px;

      .p-dialog-content {
        padding: 0.5rem;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;

        .text-center {
          .img-project-container {
            height: 120px;
          }
        }
      }

      .p-dialog-header {
        padding: 0.2rem;
        border-top-right-radius: 0;
        border-top-left-radius: 0;

        .p-dialog-header-icon {
          width: 0.6rem;
          height: 0.6rem;
        }
      }

      p {
        font-size: 8px;
      }

      .p-icon {
        height: 0.3rem;
      }

      .p-carousel .p-carousel-content .p-carousel-prev, .p-carousel .p-carousel-content .p-carousel-next {
        width: 0.5rem;
        height: 0.5rem;
      }

      .p-carousel .p-carousel-indicators {
        padding: 0.2rem;

        li {
          margin-right: 0.2rem;
          margin-bottom: 0.3rem;
        }

        button {
          width: 0.6rem;
          height: 0.2rem;
        }
        .p-highlight button {
          background-color: #FFD54F;
        }
      }
    }
  }
}

@media (min-width: 500px) and (max-width: 750px) {
  .img-container {
    height: 160px;
    font-size: 14px;
  }

  .img-text {
    font-size: 14px;
  }

  .img-container:hover .img-text {
    font-size: 14px;
  }

  .img-text span {
    font-size: 10px;
  }

  ::ng-deep {
    .img-project {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    .p-fieldset {
      border: 0.8px solid #304562;
      .p-fieldset-legend {
        padding: 0.2rem;
        border: 0.8px solid #304562;
      }
      .p-fieldset-content {
        padding: 0.2rem;
      }
    }

    .p-dialog {
      border: 0.2rem solid #314766;
      border-radius: 2px;

      .p-dialog-content {
        padding: 0.7rem;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;

        .text-center {
          .img-project-container {
            height: 130px;
          }
        }
      }

      .p-dialog-header {
        padding: 0.4rem;
        border-top-right-radius: 0;
        border-top-left-radius: 0;

        .p-dialog-header-icon {
          width: 0.8rem;
          height: 0.8rem;
        }
      }

      p {
        font-size: 8px;
      }

      .p-icon {
        height: 0.5rem;
      }

      .p-carousel .p-carousel-content .p-carousel-prev, .p-carousel .p-carousel-content .p-carousel-next {
        width: 0.8rem;
        height: 0.8rem;
      }

      .p-carousel .p-carousel-indicators {
        padding: 0.2rem;

        li {
          margin-right: 0.4rem;
          margin-bottom: 0.5rem;
        }

        button {
          width: 0.8rem;
          height: 0.3rem;
        }
        .p-highlight button {
          background-color: #FFD54F;
        }
      }
    }
  }
}

@media (min-width: 750px) and (max-width: 1100px) {
  .img-container {
    height: 250px;
    font-size: 16px;
  }

  .img-text {
    font-size: 16px;
  }

  .img-container:hover .img-text {
    font-size: 16px;
  }

  .img-text span {
    font-size: 12px;
  }


  ::ng-deep {
    .img-project {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    .p-fieldset {
      border: 1px solid #304562;
      .p-fieldset-legend {
        padding: 0.3rem;
        border: 1px solid #304562;
      }
      .p-fieldset-content {
        padding: 0.5rem;
      }
    }

    .p-dialog {
      border: 0.3rem solid #314766;
      border-radius: 2px;

      .p-dialog-content {
        padding: 0.8rem;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;

        .text-center {
          .img-project-container {
            height: 200px;
          }
        }
      }

      .p-dialog-header {
        padding: 0.5rem;
        border-top-right-radius: 0;
        border-top-left-radius: 0;

        .p-dialog-header-icon {
          width: 1rem;
          height: 1rem;
        }
      }

      p {
        font-size: 10px;
      }

      .p-icon {
        height: 0.7rem;
      }

      .p-carousel .p-carousel-content .p-carousel-prev, .p-carousel .p-carousel-content .p-carousel-next {
        width: 1rem;
        height: 1rem;
      }

      .p-carousel .p-carousel-indicators {
        padding: 0.2rem;

        li {
          margin-right: 0.5rem;
          margin-bottom: 0.5rem;
        }

        button {
          width: 1.5rem;
          height: 0.4rem;
        }
        .p-highlight button {
          background-color: #FFD54F;
        }
      }
    }
  }
}


@media (min-width: 1100px) and (max-width: 2000px) {
  .img-container {
    height: 250px;
    font-size: 16px;
  }

  .img-text {
    font-size: 16px;
  }

  .img-container:hover .img-text {
    font-size: 16px;
  }

  .img-text span {
    font-size: 12px;
  }


  ::ng-deep {
    .img-project {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    .p-fieldset {
      border: 1px solid #304562;
      .p-fieldset-legend {
        padding: 0.3rem;
        border: 1px solid #304562;
      }
      .p-fieldset-content {
        padding: 0.8rem;
      }
    }

    .p-dialog {
      border: 0.6rem solid #314766;
      border-radius: 3px;

      .p-dialog-content {
        padding: 1rem;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;

        .text-center {
          .img-project-container {
            height: 350px;
          }
        }
      }

      .p-dialog-header {
        padding: 0.7rem;
        border-top-right-radius: 0;
        border-top-left-radius: 0;

        .p-dialog-header-icon {
          width: 1.5rem;
          height: 1.5rem;
        }
      }

      p {
        font-size: 16px;
      }

      .p-icon {
        height: 0.8rem;
      }

      .p-carousel .p-carousel-content .p-carousel-prev, .p-carousel .p-carousel-content .p-carousel-next {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
}

@media (min-width: 2000px) {
  .img-container {
    height: 250px;
    font-size: 16px;
  }

  .img-text {
    font-size: 16px;
  }

  .img-container:hover .img-text {
    font-size: 16px;
  }

  .img-text span {
    font-size: 12px;
  }


  ::ng-deep {
    .img-project {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    .p-fieldset {
      border: 1.5px solid #304562;
      .p-fieldset-legend {
        padding: 0.5rem;
        border: 1.5px solid #304562;
      }
      .p-fieldset-content {
        padding: 3rem;
      }
    }

    .p-dialog {
      border: 0.6rem solid #314766;
      border-radius: 3px;

      .p-dialog-content {
        padding: 1.5rem;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;

        .text-center {
          .img-project-container {
            height: 750px;
          }
        }
      }

      .p-dialog-header {
        padding: 1rem;
        border-top-right-radius: 0;
        border-top-left-radius: 0;

        .p-dialog-header-icon {
          width: 3rem;
          height: 3rem;
        }
      }

      p {
        font-size: 35px;
      }

      .p-icon {
        height: 3rem;
      }

      .p-carousel .p-carousel-content .p-carousel-prev, .p-carousel .p-carousel-content .p-carousel-next {
        width: 3rem;
        height: 3rem;
      }
    }
  }
}
