
<div class="img-container"></div>
<div class="img-text">
  <p id="text1">
    Hi!, I'm <span>Sheyla</span>
    <i class="material-symbols-outlined">waving_hand</i>
  </p>
  <div *ngIf="visible">
    <p id="text2">
      I design and build software applications.
    </p>
  </div>

  <button class="button-download" (click)="download()">
    Curriculum Vitae <i class="material-symbols-outlined">download</i>
  </button>

</div>

<div class="message-container">
  <p-messages [showTransitionOptions]="'300ms'" [hideTransitionOptions]="'300ms'" [closable]="false"></p-messages>
</div>

<div class="img-link-text">
  <p>
    Learn more about what I do!
  </p>
  <a class="animated-button" [routerLink]="['/portafolio/projects']">
    <i class="pi pi-angle-down"></i>
  </a>
</div>



