
  ::ng-deep {
    .p-message.p-message-success {
      background: #a0dfdb;
      border: solid #3b8581;
      border-width: 0 0 0 6px;
      color: #515a51;
      font-family: cursive;
    }
  }

  .img-container {
    background-image: url('/assets/home.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100%;
    width: 100%;
    opacity: 0.5;
  }

  .img-text {
    position: absolute;
    top: 40%;
    left: 50%;

    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;

    p {
      color: white;
      font-size: xxx-large;
    }

    #text1 {
      overflow: hidden;
      white-space: nowrap;
      animation: rebound 2s ease-in-out 1;

      span {
        color: #37e4d9;
        background-clip: text;
        text-shadow: 0 0 6px rgba(255, 255, 255, 0.8);
      }

    }

    #text2 {
      overflow: hidden;
      white-space: nowrap;
      animation: typing 3s steps(100) 1 ;
    }
  }

  .img-link-text {
    position: absolute;
    top: 85%;
    left: 50%;
    display: flex;
    flex-direction: column;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 70%;

    p {
      color: rgba(255, 255, 255, 0.87);
      font-size: large;
    }

    .animated-button {
      transition: transform 0.3s ease;
      color: white;
      animation: rebound 2s ease-in-out infinite;
      display: inline-block;
    }
  }

  @media (max-width: 350px) {
    .img-text {
      width: 80%;
      p, .material-symbols-outlined {
        font-size: 8px;
      }
    }

    .img-link-text {
      p {
        font-size: 4px;
      }
    }

    .animated-button {
      margin-top: -15px;
      .pi {
        font-size: 0.2rem;
      }
    }
  }

  @media (min-width: 350px) and (max-width: 500px) {
    .img-text {
      width: 80%;
      p, .material-symbols-outlined {
        font-size: 6px;
      }
    }

    .img-link-text {
      p {
        font-size: 4px;
      }
    }

    .animated-button {
      margin-top: -10px;
      .pi {
        font-size: 0.2rem;
      }
    }
  }

  @media (min-width: 500px) and (max-width: 750px) {
    .img-text {
      width: 80%;
      p, .material-symbols-outlined {
        font-size: small;
      }
    }

    .img-link-text {
      p {
        font-size: 4px;
      }
    }

    .animated-button {
      margin-top: -8px;
      .pi {
        font-size: 0.2rem;
      }
    }
  }

  @media (min-width: 750px) and (max-width: 1090px) {
    .img-text {
      width: 90%;
      p, .material-symbols-outlined {
        font-size: large;
      }
    }

    .img-link-text {
      p {
        font-size: 6px;
      }
    }

    .animated-button {
      margin-top: -5px;
      .pi {
        font-size: 0.4rem;
      }
    }
  }

  @media (min-width: 1090px) and (max-width: 2090px) {
    .img-text {
      width: 90%;
      p, .material-symbols-outlined {
        font-size: xx-large;
      }
    }

    .img-link-text {
      p {
        font-size: small;
      }
    }

    .animated-button {
      margin-top: -5px;
      .pi {
        font-size: 0.7rem;
      }
    }
  }


  @media (min-width: 2090px) {
    .img-text {
      width: 90%;
      p, .material-symbols-outlined {
        font-size: 60px;
      }
    }

    .img-link-text {
      p {
        font-size: 40px;
      }
    }

    .animated-button {
      margin-top: -5px;
      .pi {
        font-size: 2rem;
      }
    }
  }
