.container {
  position: relative;
  height: 100%;
  width: 100%;
  margin-bottom: 30px;
  overflow-y: auto;


  .about-container {
    padding: 10px;

    display: flex;
    flex-direction: column;

    h1 {
      font-size: xxx-large;
      animation: rebound 2s ease-in-out 1;
    }

    span {
      opacity: 0.5;
    }

    .text-layout {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;

      p, span, a {
        width: 50%;
        margin-bottom: 0px;
        text-align: center;
      }

      .info-container {
        display: flex;
        justify-content: center;

        span {
          width: 100%
        }

        .animated-button {
          display: inline-block;
          transition: transform 0.3s ease;
          color: white;
        }

        .animated-button:hover {
          transform: translateY(-5px);
        }
      }
    }

  }
}

@media (max-width: 390px) {
  .container .about-container {
    padding: 3px;

    display: flex;
    flex-direction: column;

    h1 {
      font-size: x-small;
    }

    .text-layout {
      margin-bottom: 3px;

      p, span, a {
        width: 60%;
        margin-bottom: 0px;
        text-align: center;
        font-size: 3px;
      }
    }

    i {
      font-size: 4px;
    }
  }
}

@media (min-width: 390px) and (max-width: 500px) {
  .container .about-container {
    padding: 3px;

    display: flex;
    flex-direction: column;

    h1 {
      font-size: medium;
    }

    .text-layout {
      margin-bottom: 3px;

      p, span, a {
        width: 60%;
        margin-bottom: 10px;
        text-align: center;
        font-size: 6px;
      }
    }

    i {
      font-size: 8px;
    }
  }
}

@media (min-width: 500px) and (max-width: 800px) {
  .container .about-container {
    padding: 3px;

    display: flex;
    flex-direction: column;

    h1 {
      font-size: large;
    }

    .text-layout {
      margin-bottom: 3px;

      p, span, a {
        width: 60%;
        margin-bottom: 10px;
        text-align: center;
        font-size: 8px;
      }
    }

    i {
      font-size: 9px;
    }
  }
}

@media (min-width: 800px) and (max-width: 1000px) {
  .container .about-container {
    padding: 3px;

    display: flex;
    flex-direction: column;

    h1 {
      font-size: xx-large;
    }

    .text-layout {
      margin-bottom: 3px;

      p, span, a {
        width: 60%;
        margin-bottom: 10px;
        text-align: center;
        font-size: 12px;
      }
    }

    i {
      font-size: 16px;
    }
  }
}

@media (min-width: 1000px) and (max-width: 2000px) {
  .container .about-container {
    padding: 3px;

    display: flex;
    flex-direction: column;

    h1 {
      font-size: xxx-large;
    }

    .text-layout {
      margin-bottom: 4px;

      p, span, a {
        width: 60%;
        margin-bottom: 10px;
        text-align: center;
        font-size: 14px;
      }
    }

    i {
      font-size: 18px;
    }
  }
}


@media (min-width: 2000px) {
  .container .about-container {
    padding: 4px;

    display: flex;
    flex-direction: column;

    h1 {
      font-size: 40px;
    }

    .text-layout {
      margin-bottom: 8px;

      p, span, a {
        width: 60%;
        margin-bottom: 14px;
        text-align: center;
        font-size: 28px;
      }
    }

    i {
      font-size: 38px;
    }
  }
}
