<div class="container">
  <div class="about-container">
    <div class="text-layout">
      <h1>Personal Information</h1>
      <p>Phone Number: </p>
      <div class="info-container">
        <i class="material-symbols-outlined" style="margin-right: 4px">phone</i>
        <div class="flex flex-column">
          <span> 613390997 </span>
        </div>
      </div>

      <p>Email: </p>
      <div class="info-container">
        <i class="material-symbols-outlined" style="margin-right: 4px">mail</i>
        <div class="flex flex-column">
          <span> {{"sheycruzcastro@gmail.com"}} </span>
        </div>
      </div>

      <p>Address: </p>
      <div class="info-container">
        <i class="material-symbols-outlined" style="margin-right: 4px">home</i>
        <div class="flex flex-column">
          <span> Garcia Barbon - 36201 Vigo, Spain </span>
        </div>
      </div>
      <div class="divider"></div>
    </div>

    <div class="text-layout">
      <h1>Links</h1>
      <div class="info-container mt-2">
        <i class="devicon-linkedin-plain colored mr-2"></i>
        <div class="flex flex-column">
          <a class="animated-button" href='https://www.linkedin.com/in/sheycc/'>
            LinkedIn
          </a>
        </div>
      </div>
      <div class="info-container mt-2 mb-2">
        <i class="devicon-github-original colored mr-2"></i>
        <div class="flex flex-column">
          <a class="animated-button" href='https://github.com/sheycc'>
            GitHub
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


