<div class="container">
  <div class="about-container">
    <div class="text-layout">
      <h1>Personal Profile</h1>
      <p>Graduate in Computer Science with advanced knowledge in programming and experience with various languages,
        technologies and tools for software development.</p>
      <div class="divider"></div>
    </div>

    <div class="text-layout">
      <h1>Education</h1>
      <p> Lic. Ciencias de la Computación, Universidad de La Habana, Cuba. </p>
      <span> Septiembre 2016 — Diciembre 2022 </span>
      <div class="divider"></div>
    </div>

    <div class="skill-text-layout">
      <h1>Skills</h1>
      <div class="skill-container">
        <p> C#, .Net, ASPNet, .NetCore </p>
        <p-rating [(ngModel)]="values[0]" [readonly]="true" [cancel]="false"></p-rating>
      </div>
      <div class="skill-container">
        <p> Angular, JavaScript &
          TypeScript </p>
        <p-rating [(ngModel)]="values[1]" [readonly]="true" [cancel]="false"></p-rating>
      </div>
      <div class="skill-container">
        <p> Python Django Flask </p>
        <p-rating [(ngModel)]="values[2]" [readonly]="true" [cancel]="false"></p-rating>
      </div>
      <div class="skill-container">
        <p> Flutter & Dart </p>
        <p-rating [(ngModel)]="values[3]" [readonly]="true" [cancel]="false"></p-rating>
      </div>
      <div class="skill-container">
        <p> HTML & CSS, SASS, LESS </p>
        <p-rating [(ngModel)]="values[4]" [readonly]="true" [cancel]="false"></p-rating>
      </div>
      <div class="skill-container">
        <p> Bootstrap & PrimeNg &
          Material Design </p>
        <p-rating [(ngModel)]="values[5]" [readonly]="true" [cancel]="false"></p-rating>
      </div>
      <div class="skill-container">
        <p> MySQL, MongoDB,
          PostgreSQL, SQLServer </p>
        <p-rating [(ngModel)]="values[6]" [readonly]="true" [cancel]="false"></p-rating>
      </div>
      <div class="skill-container">
        <p> Arq. de Microservicios & Arq.
          Orientada a Objetos </p>
        <p-rating [(ngModel)]="values[7]" [readonly]="true" [cancel]="false"></p-rating>
      </div>
      <div class="skill-container">
        <p> SOLID & Buenas Prácticas </p>
        <p-rating [(ngModel)]="values[8]" [readonly]="true" [cancel]="false"></p-rating>
      </div>
      <div class="skill-container">
        <p> API REST, AGILE, Unit Test &
          Integration Test </p>
        <p-rating [(ngModel)]="values[9]" [readonly]="true" [cancel]="false"></p-rating>
      </div>
      <div class="skill-container">
        <p> Git & GitHub </p>
        <p-rating [(ngModel)]="values[10]" [readonly]="true" [cancel]="false"></p-rating>
      </div>
      <div class="divider"></div>
    </div>

    <div class="skill-text-layout">
      <h1>Languages</h1>
      <div class="skill-container">
        <p> Spanish </p>
        <p-rating [(ngModel)]="values[0]" [readonly]="true" [cancel]="false"></p-rating>
      </div>
      <div class="skill-container">
        <p> English </p>
        <p-rating [(ngModel)]="values[2]" [readonly]="true" [cancel]="false"></p-rating>
      </div>
      <div class="divider"></div>
    </div>

    <div class="text-layout">
      <h1>Hobbies</h1>
      <p> Me gustan los animales <i class="material-symbols-outlined">pets</i>,
        el cine <i class="material-symbols-outlined">movie</i> y
        hacer deporte <i class="material-symbols-outlined">exercise</i>. </p>
    </div>

  </div>
</div>


