::ng-deep {
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
  margin-bottom: 30px;
  overflow-y: auto;


  .about-container {
    padding: 10px;

    display: flex;
    flex-direction: column;

    h1 {
      font-size: xxx-large;
      animation: rebound 2s ease-in-out 1;
    }

    span {
      opacity: 0.5;
    }

    .text-layout {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;

      p, span {
        width: 50%;
        margin-bottom: 0px;
        text-align: center;
      }
    }

    .skill-text-layout {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;

      p, span {
        width: 80%;
        text-align: center;
      }

      .skill-container {
        display: flex;
        align-items: center;
      }
    }

  }
}



@media (max-width: 390px) {
  .container .about-container {
    padding: 3px;

    display: flex;
    flex-direction: column;

    h1 {
      font-size: x-small;
    }

    .text-layout {
      margin-bottom: 3px;

      p, span {
        width: 60%;
        margin-bottom: 0px;
        text-align: center;
        font-size: 3px;
      }
    }

    .material-symbols-outlined {
      font-size: 4px;
    }

    .skill-text-layout {
      margin-bottom: 3px;

      p, span {
        width: 90%;
        text-align: center;
      }

      .skill-container {

        p {
          margin-right: 6px;
        }

        display: flex;
        align-items: center;
        font-size: 3px;
      }
    }
  }

  ::ng-deep {
    .p-rating .p-rating-item .p-rating-icon.p-icon {
      width: 0.243rem;
      height: 0.343rem;
    }

    .p-rating {
      gap: 0.2rem;
    }
  }
}

@media (min-width: 390px) and (max-width: 500px) {
  .container .about-container {
    padding: 3px;

    display: flex;
    flex-direction: column;

    h1 {
      font-size: xx-large;
    }

    .text-layout {
      margin-bottom: 3px;

      p, span {
        width: 60%;
        margin-bottom: 10px;
        text-align: center;
        font-size: 8px;
      }
    }

    .material-symbols-outlined {
      font-size: 8px;
    }

    .skill-text-layout {
      margin-bottom: 3px;

      p, span {
        width: 80%;
        text-align: center;
      }

      .skill-container {

        p {
          margin-right: 8px;
        }

        display: flex;
        align-items: center;
        font-size: 8px;
      }
    }
  }

  ::ng-deep {
    .p-rating .p-rating-item .p-rating-icon.p-icon {
      width: 0.343rem;
      height: 0.443rem;
    }

    .p-rating {
      gap: 0.3rem;
    }
  }
}

@media (min-width: 500px) and (max-width: 800px) {
  .container .about-container {
    padding: 3px;

    display: flex;
    flex-direction: column;

    h1 {
      font-size: large;
    }

    .text-layout {
      margin-bottom: 3px;

      p, span {
        width: 60%;
        margin-bottom: 10px;
        text-align: center;
        font-size: 8px;
      }
    }

    .material-symbols-outlined {
      font-size: 9px;
    }

    .skill-text-layout {
      margin-bottom: 4px;

      p, span {
        width: 80%;
        text-align: center;
      }

      .skill-container {

        p {
          margin-right: 9px;
        }

        display: flex;
        align-items: center;
        font-size: 8px;
      }
    }
  }

  ::ng-deep {
    .p-rating .p-rating-item .p-rating-icon.p-icon {
      width: 0.443rem;
      height: 0.543rem;
    }

    .p-rating {
      gap: 0.3rem;
    }
  }
}

@media (min-width: 800px) and (max-width: 1000px) {
  .container .about-container {
    padding: 3px;

    display: flex;
    flex-direction: column;

    h1 {
      font-size: xx-large;
    }

    .text-layout {
      margin-bottom: 3px;

      p, span {
        width: 60%;
        margin-bottom: 10px;
        text-align: center;
        font-size: 12px;
      }
    }

    .material-symbols-outlined {
      font-size: 16px;
    }

    .skill-text-layout {
      margin-bottom: 8px;

      p, span {
        width: 80%;
        text-align: center;
      }

      .skill-container {

        p {
          margin-right: 10px;
        }

        display: flex;
        align-items: center;
        font-size: 12px;
      }
    }
  }

  ::ng-deep {
    .p-rating .p-rating-item .p-rating-icon.p-icon {
      width: 0.643rem;
      height: 0.743rem;
    }

    .p-rating {
      gap: 0.4rem;
    }
  }
}

@media (min-width: 1000px) and (max-width: 2000px) {
  .container .about-container {
    padding: 3px;

    display: flex;
    flex-direction: column;

    h1 {
      font-size: xxx-large;
    }

    .text-layout {
      margin-bottom: 4px;

      p, span {
        width: 60%;
        margin-bottom: 10px;
        text-align: center;
        font-size: 14px;
      }
    }

    .material-symbols-outlined {
      font-size: 18px;
    }

    .skill-text-layout {
      margin-bottom: 10px;

      p, span {
        width: 100%;
        text-align: center;
      }

      .skill-container {

        p {
          margin-right: 12px;
        }

        display: flex;
        align-items: center;
        font-size: 14px;
      }
    }
  }

  ::ng-deep {
    .p-rating .p-rating-item .p-rating-icon.p-icon {
      width: 0.743rem;
      height: 0.843rem;
    }

    .p-rating {
      gap: 0.4rem;
    }
  }
}


@media (min-width: 2000px) {
  .container .about-container {
    padding: 4px;

    display: flex;
    flex-direction: column;

    h1 {
      font-size: 40px;
    }

    .text-layout {
      margin-bottom: 8px;

      p, span {
        width: 60%;
        margin-bottom: 14px;
        text-align: center;
        font-size: 28px;
      }
    }

    .material-symbols-outlined {
      font-size: 38px;
    }

    .skill-text-layout {
      margin-bottom: 14px;

      p, span {
        width: 100%;
        text-align: center;
      }

      .skill-container {

        p {
          margin-right: 16px;
        }

        display: flex;
        align-items: center;
        font-size: 28px;
      }
    }
  }

  ::ng-deep {
    .p-rating .p-rating-item .p-rating-icon.p-icon {
      width: 2.543rem;
      height: 3.943rem;
    }

    .p-rating {
      gap: 0.8rem;
    }
  }
}
