::ng-deep{
  .p-dialog {
    border-radius: 8px;
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
    border: none;
  }
  .p-button  {
    margin-right: 10px;
    border-radius: 15px;
    color: #344b6a;

    i {
      font-size: xx-large;
    }
  }

  .non-selected {
    margin-right: 10px;
    border-radius: 15px;
    color: #344b6a;
    background-color: transparent;
    border: 1px solid;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    display: inline-flex;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    align-items: center;
    vertical-align: bottom;
    text-align: center;

    i {
      font-size: xx-large;
    }
  }

  .selected {
    margin-right: 10px;
    border-radius: 15px;
    color: #c0c0c0;
    background-color: transparent;
    box-shadow: 0 0 5px #c0c0c0;
    border: 1px solid #c0c0c0;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    display: inline-flex;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    align-items: center;
    vertical-align: bottom;
    text-align: center;

    i {
      font-size: xx-large;
    }
  }
}

.container {
position: relative;
height: 100%;
width: 100%;
margin-bottom: 30px;
max-height: 672px;
overflow-y: auto;

.project-container {
padding: 10px;

display: flex;
flex-direction: column;


span {
  opacity: 0.5;
}

.text-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p, span {
    width: 50%;
    margin-bottom: 0px;
    text-align: center;
  }
}

.chips-container {
  display: flex;
  justify-content: center;

  margin-bottom: 20px;
}


}
}
