<div class="container">
  <div class="project-container">
    <div class="text-layout">
      <h1>My Work</h1>
    </div>

    <div class="grid">
      <div class="col-6">
        <p-card>
          <div class="img-container">
            <div class="img-text" (click)="showDialog()">
              See More
            </div>
            <app-project-dialog [visible]="visible"></app-project-dialog>
          </div>
        </p-card>
      </div>
      <div class="col-6">
        <p-card>
          <div class="img-container">
            <div class="img-text">
              See More
            </div>
          </div>
        </p-card>
      </div>
    </div>
    <div class="grid">
      <div class="col-6">
        <p-card>
          <div class="img-container">
            <div class="img-text">
              See More
            </div>
          </div>
        </p-card>
      </div>
      <div class="col-6">
        <p-card>
          <div class="img-container">
            <div class="img-text">
              See More
            </div>
          </div>
        </p-card>
      </div>
    </div>
  </div>
</div>
