/* You can add global styles to this file, and also import other style files */
@import 'primeicons/primeicons.css';

html, body {
  height: 100%;
  margin: 4px 4px 4px 4px;
  padding-bottom: 8px;
  border-radius: 6px;
  overflow: hidden;
  background-color: var(--surface-b);
  font-family: cursive;
}

.text-layout {
  color: var(--text-color);
}

.card-color {
  color: var(--surface-c);
}
